<a href="https://colab.research.google.com/github/wahomeJohn/ClassGoals/blob/main/Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

#run and create DataFrame from below code
df = pd.DataFrame({'period': [1, 2, 3, 4, 5, 6, 7, 8],
                   'A_sales': [12, 14, 15, 13, 18, 20, 19, 24],
                   'B_sales': [14, 19, 20, 22, 24, 20, 17, 23]})

In [25]:
#Print the DataFrame and display on screen
print(df)

   period  A_sales  B_sales  Diff
0       1       12       14     2
1       2       14       19     5
2       3       15       20     5
3       4       13       22     9
4       5       18       24     6
5       6       20       20     0
6       7       19       17    -2
7       8       24       23    -1

In [26]:
#Calculate the difference between the sales in region B and region A for each sales period:
df['Diff']= df['B_sales']-df['A_sales']

In [27]:
df

   period  A_sales  B_sales  Diff
0       1       12       14     2
1       2       14       19     5
2       3       15       20     5
3       4       13       22     9
4       5       18       24     6
5       6       20       20     0
6       7       19       17    -2
7       8       24       23    -1

In [28]:
 #Calculate and return only the rows where the the sales in region A is greater than the sales in region B:
df['Diff']= df['B_sales']-df['A_sales']
df[df['Diff']<0]

   period  A_sales  B_sales  Diff
6       7       19       17    -2
7       8       24       23    -1